<?xml version='1.0' encoding='UTF-8'?>
<manifest package='com.rum.yobitch' android:versionCode='26072014' android:versionName='1.01' xmlns:android='http://schemas.android.com/apk/res/android'>
    
    <application android:hardwareAccelerated='true' android:icon='@drawable/shout' android:label='@string/app_name' android:largeHeap='true'>
        
        <activity android:label='@string/app_name' android:name='MainActivity'>
            <intent-filter>
                <action android:name='android.intent.action.MAIN'/>
                <category android:name='android.intent.category.LAUNCHER'/>
            </intent-filter>

            <!-- Intent filter to recognise live addition of friends -->
            <intent-filter>
                <action android:name='android.intent.action.VIEW'/>
                <category android:name='android.intent.category.DEFAULT'/>
                <category android:name='android.intent.category.BROWSABLE'/>
                <data android:scheme="http"
                        android:host="www.yobitch.me"
                        android:pathPrefix="/i/"/> <!-- matches /i/123/makuchaku-1/ -->
            </intent-filter>
            <!-- Intent filter to recognise live addition of friends -->

            <ImageView android:id="@+id/shout" android:src="@drawable/shout"></ImageView>
            <ImageView android:id="@+id/reply" android:src="@drawable/reply"></ImageView>
            <ImageView android:id="@+id/splash" android:src="@drawable/splash"></ImageView>
        </activity>

        <receiver android:name="com.rum.yobitch.InstallReferrerBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>        

        <activity android:exported='false' android:name='org.ruboto.RubotoActivity'/>
        
        <activity android:configChanges='orientation|screenSize' 
                android:exported='false' 
                android:name='org.ruboto.SplashActivity' 
                android:noHistory='true'
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:exported='false' android:name='org.ruboto.RubotoDialog' android:theme='@android:style/Theme.Dialog'/>
        <service android:exported='false' android:name='org.ruboto.RubotoService'/>

        <!-- GCM Related start -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                
                <!-- http://stackoverflow.com/questions/17618982/gcm-service-not-available-on-android-2-2/17721385#17721385 -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> 
                
                <category android:name="com.rum.yobitch.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" /> 
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="5077000" />       
        <!-- GCM Related end -->

        <!-- Admob related -->
         <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <!-- Admob related -->
    </application>


    <uses-sdk android:minSdkVersion='8' android:targetSdkVersion='20'/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- For Analytics -->

    <!-- GCM Related start -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <permission android:name="com.rum.yobitch.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.rum.yobitch.gcm.permission.C2D_MESSAGE" /> 
    <!-- GCM Related end -->   

</manifest>
