#invite_button, #add_by_email_button, #bitch {
  background-color : #40203f;
  color : #ffffff;
  padding : 15px;
  margin : 0;
}

#friend {
  height: 300px;
  font-size: 12pt;
  color : #ffffff;  
  padding : 15px;
  margin : 0;
  column-count : 1;
}

#id_main_screen_layout {
  margin: 0;
  padding: 0;
}
